header {
  display: block;
  height: 150px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  margin-top: 180px;
  background-color: aquamarine;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 20px;
  
}

